.t-container
  width 100%
  max-width 1100px
  padding 0 25px
  margin 0 auto
.t-control
  input,
  textarea
    width 100%
    padding 8px 12px
    border-radius 8px
    border 2px solid #dce1e7
    background-color #ffffff
    font-size 14px
    font-weight 400
    line-height 22px
    &:focus 
      border 2px solid #696cff
      outline none